{% extends "blog/base.html" %} {% block title %}{{ post.title }}{% endblock %} {% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.body|truncatewords:15|linebreaks }}</h2>
                    <span class="meta">Posted by {{ post.author }} on {{ post.publish }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <p>
                    {{ post.body|linebreaks }}
                </p>

                <!-- Checking Similar Posts By Tags -->
                <h2>Similar posts</h2>
                {% for post in similar_posts %}
                <p>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </p>
                {% empty %} There are no similar posts yet. {% endfor %}

                <!-- Checking the number of comments -->
                {% with comments.count as total_comments %}
                <h2>
                    {{ total_comments }} comment{{ total_comments|pluralize }}
                </h2>
                {% endwith %}

                <!-- Comments -->
                {% for comment in comments %}
                <div class="comment">
                    <p class="info">
                        Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
                    </p>
                    {{ comment.body|linebreaks }}
                </div>
                {% empty %}
                <p>There are no comments yet.</p>
                {% endfor %}

                <!-- Form for comments -->
                {% if new_comment %}
                <h2>Your comment has been added.</h2>
                {% else %}
                <h2>Add a new comment</h2>
                <form action="." method="post">
                    {{ comment_form.as_p }} {% csrf_token %}
                    <p><input type="submit" value="Add comment"></p>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</article>
{% endblock %}