{% extends "blog/base.html" %} {% block title %}Share a post{% endblock %} {% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12">
                <div class="post-heading">
                    <h2>Share "{{ post.title }}"</h2>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                {% if sent %}
                <h1>E-mail successfully sent</h1>
                <p>
                    "{{ post.title }}" was successfully sent to {{ cd.to }}.
                </p>
                {% else %}
                <form action="." method="post">
                    {{ form.as_p }} {% csrf_token %}
                    <input type="submit" value="Send e-mail">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</article>
{% endblock %}